<p>
  <%= link_to "<i class = 'fa fa-times'></i>".html_safe,
               [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>

  <b><%= comment.commenter %>:</b> <%= comment.body %>
</p>
