<h1 class='title'>Rails Blog</h1>

<div style='text-align:center'><%= link_to 'Enter', controller: 'articles' %>

  <br/><br/><br/><br/><br/><br/><br/>
  <a href = 'https://github.com/gegillam/Ruby-Blog'>on github</a>
</div>
