// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.title{
  font-color:red;
}

div.well{
   width:80%;
   min-width:350px;
   margin:auto;
}

textarea.article_input{
  width:100%;
  min-height:200px;
}
